<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Уважаемый {{ user }}!</h3>
    <p>Если вы видите это сообщение, значит вы запросили сменю пароля, если же вы этого не делали, просто проигнорируйте это сообщение.</p>
    <p>Ссылка на смену пароля <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">ссылка</a></p>
    <p>Если ссылка не работает, то скопируйте эту: {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
</body>
</html>