{% extends 'base.html' %}

{% block title %}
    Обратная связь:: {{ title }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                <span class="text-danger">{{ form.email.errors }}</span>
                <span class="helptext">{{ form.email.help_text }}</span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Войти</button>
        </form>
    </div>
{% endblock %}
