{% extends 'base.html' %}

{% block title %}
    Обратная связь:: {{ title }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                <span class="text-danger">{{ form.new_password1.errors }}</span>
                <span class="helptext">{{ form.new_password1.help_text }}</span>
            </div>
            <div class="mb-3">
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                <span class="text-danger">{{ form.new_password2.errors }}</span>
                <span class="helptext">{{ form.new_password2.help_text }}</span>
            </div>
             <button type="submit" class="btn btn-primary btn-lg">Отправить письмо</button>
        </form>
    </div>
{% endblock %}
