{% extends 'base.html' %}

{% block title %}
    Новая новость
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>Новая новость</h1>
    <form action="{% url 'add_news' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
            {{ form.title }}
            <span class="text-danger">{{ form.title.errors }}</span>
            <span class="helptext">{{ form.title.help_text }}</span>
        </div>
        <div class="mb-3">
            <label for="{{ form.body.id_for_label }}">{{ form.body.label }}:</label>
            {{ form.body }}
            <span class="text-danger">{{ form.body.errors }}</span>
        </div>
            <div class="mb-3">
            <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}:</label>
            {{ form.photo }}
                <span class="text-danger">{{ form.photo.errors }}</span>
        </div>
        <div class="mb-3">
            <label for="{{ form.is_published.id_for_label }}">{{ form.is_published.label }}</label>
            {{ form.is_published }}
            <span class="text-danger">{{ form.is_published.errors }}</span>
        </div>
        <div class="mb-3">
            <label for="{{ form.category.id_for_label }}">{{ form.category.label }}:</label>
            {{ form.category }}
            <span class="text-danger">{{ form.category.errors }}</span>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Добавить новость</button>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">Отменить</a>
    </form>
{% endblock %}



